
@{
    bool status = (bool)ViewBag.status;

}
@if (status == true)
{
    <span>Thanh toán Online Thành công Chúng tôi sẽ liện hệ với bạn sau <a class="text-danger" href="~/">Về trang chủ</a></span>

}
else
{
    <span>Thanh toasn Online Thất bại Vui lòng thử lại <a class="text-danger" href="~/">Về trang chủ</a></span>

}

