@model IEnumerable<ShopQuanAo.Models.Mcategory>
@{ var mainmenuitem = ViewBag.mainmenuitem; }
<li class="nav-item "><a class="nav-link border-bottom" href="~/@mainmenuitem.slug"> @mainmenuitem.name</a></li>