@model List<ShopQuanAo.Models.MfavoriteProduct>

@if (Model.Count() == 0)
{
    <span> Bạn chưa thích sản phẩm nào</span>
}
else
{
    foreach (var iten in Model)
    {
        int sale = (int)iten.favoriteProduct.pricesale;
        float price = (int)iten.favoriteProduct.price - (int)iten.favoriteProduct.price / 100 * (int)sale;
       
        <div class="pl-2  pb-2">
            <ul class="pagination border-bottom pb-2">
                <li><img class="img-thumbnail" width="60px;" src="~/public/images/@iten.favoriteProduct.img" alt=""></li>
                <ul class="list-unstyled">
                    <li class="pl-2 m-0"><p class="font-weight-bold "><a href="~/sanpham/chitiet-sp/@iten.favoriteProduct.slug">@iten.favoriteProduct.name</a></p></li>
                    @if (sale > 0)
                    {
                        <li class="pl-2"><p class="font-weight-bold font-12 "><span><strike> @iten.favoriteProduct.price.ToString("N0") VND </strike></span><br> <span class="text-danger">@price.ToString("N0") VND</span>  </p></li>
                    }
                    else
                    {
                        <li class="pl-2"><p class="font-weight-bold font-12 "><span>@iten.favoriteProduct.price.ToString("N0") VND</span>  </p></li>
                    }
                </ul>

            </ul>
        </div>
    }


}
