@model IEnumerable<ShopQuanAo.Models.Mcategory>

<div class=" collapse d-md-flex border  " id="sidebar">
    <ul class="nav flex-column flex-nowrap w-100 bg-white list-group ">
        <li class="list-group-item bg-donhat text-white "> Danh Mục Sản Phẩm</li>
     
        @foreach (var item in Model)
        {
            @Html.Action("SubListcategory", "module", new { parentid = item.ID })
        }
    </ul>
</div>