<section class=" pt-5 ">
    <div class="bg-light container-fluid ">
        <div class="container pt-4">
            <div class="row ">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://canifa.com/skin/frontend/canifa/canifa-2019/images/icon/service1.svg" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2 text-xanhduong font-dam">QUY ĐỊNH ĐỔI TRẢ</h6>
                            <p class="font-14"> Shop sẵn sàng hỗ trợ đổi sản phẩm cho bạn trong vòng 15 ngày trên toàn hệ thống.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://canifa.com/skin/frontend/canifa/canifa-2019/images/icon/service2.svg" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">TUYỂN DỤNG TẠI DILOUS</h6>
                            <p class="font-14"> Shop đang cần tuyển hơn 40 vị trí nhân viên bán hàng tại Quận 1, Quận 10, Quận 5, Quận 8, Quận Tân Bình; Dĩ An, Bình Dương (Sắp khai trương)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://canifa.com/skin/frontend/canifa/canifa-2019/images/icon/service3.svg" alt="">
                        </div>
                        <div class="col-md-8">
                            <h6 class="pl-2  text-xanhduong font-dam">KHÁCH HÀNG THÂN THIẾT</h6>
                            <p class="font-14"> Chính sách khách hàng thân thiết của DILOUS: khi mua đơn hàng trị giá 5.000.000Đ, quý khách sẽ được cấp ngay thẻ VIP có ưu đãi 10% và 20% khi sinh nhật.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
