<li class="nav-header">Tài khoản</li>
<li class="nav-item">
    <a href="/Admin/info/@ViewBag.adminID" class="nav-link">
        <i class="nav-icon far fa-circle text-warning"></i>
        <p class="text">Thông Tin</p>
    </a>
</li>